extends templates/layout

block content
    .home-button virtual museum
    span
    .menu menu
    .numbers-column
        .number #10
        .number #9
        .number #8
        .number #7
        .number #6
    .center-image
    .numbers-column
        .number #5
        .number #4
        .number #3
        .number #2
        .number #1
    span
    .description
        span.text Here will be the space for the description of your portfolio
    span
    