@import "_variables.scss";
@import "_reset.scss";
@import "_flex.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  background-color: $bg2;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1.5fr 2fr 1.5fr;
  grid-template-rows: 1fr 5fr 1fr;
  gap: 1px;
  font-size: 2rem;
  font-family: "Montserrat";
  color: $bg2;
  text-transform: uppercase;
}

.numbers-column {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 1px;
  .number {
    background-color: white;
    @extend %center;
    &:hover {
      background-color: $bg2;
      color: white;
    }
  }
}

.home-button,
.menu {
  background-color: white;
  @extend %center;
  &:hover {
    background-color: $bg2;
    color: white;
  }
}

span {
  background-color: white;
}

.center-image {
  grid-column: 2 / -2;
  grid-row: 2 / -2;
  background-image: url("../img/virtual-museum2.jpg");
  background-size: cover;
  background-position: center;
}

.description {
  background-color: white;
  @extend %center;
  white-space: nowrap;
  overflow: hidden;
  .text {
    animation: slides 3s linear infinite forwards;
  }
}

@keyframes slides {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0px);
  }
}
